  <!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
      <title>The Huddle:The Best Social Media Site For Football</title>
      <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
        <div class="form-group">
            <input type="text" id="name" placeholder="Username" autocomplete="off" class="form-control"/>
        </div>
        <div class="form-group">
            <button type="submit" class="accent username-submit">Sign In!</button>
        </div>
        <div class="form-group">
                <button type="submit" class="accent registrationPage-submit">Register Here!</button>
        </div>
    </form>
  </div>

  <div id="username-page">
        <div class="username-page-container">
            <h1 class="title">Type your Username</h1>
            <form id="usernameForm" name="usernameForm">
                <div class="form-group">
                    <input type="text" id="name" placeholder="Username" autocomplete="off" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="accent username-submit">Enter</button>
                </div>
            </form>
        	</div>
    	</div>
    <div id="login-page">
        <div class="login-page-container">
            <h1 class="title">Login</h1>
            <form id="usernameForm" name="usernameForm">
            <div class="form-group">
                <input type="text" id="name" placeholder="Username" autocomplete="off" class="form-control" />
            </div>
            <form id="passwordForm" name="passwordForm">
                <div class="form-group">
                    <input type="text" id="name" placeholder="Password" autocomplete="off" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="accent login-submit" href="/main">Sign In!</button>
                </div>
                <div class="form-group">
                    <link type="submit" class="accent registration-submit">Don't Have an Account? <a href="/signup"> Register Here!</a></link>
                </div>
            </form>
        	</div>
    	</div>
    </body>
    </html>
