* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 15px;
    padding: 15px;
    font-weight: 400;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1rem;
    line-height: 1.58;
    color: #404040;
    background-color: #404040;
    height: 100%;
}

body:before {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #404040;
    content: "#h2";
    z-index: 0;
}


.form-control {
    width: 100%;
    min-height: 38px;
    font-size: 15px;
    border: 1px solid #424242;
    border-radius: 25px;

}

.form-group {
    margin-bottom: 15px;
    border-radius: 25px;
}
button {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
}
button.default {
    background-color: #4872ff;
    color: #333;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

button.primary {
    background-color: #2f4d80;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #4e52ff;
}

button.accent {
    background-color: #797cff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

input {
    padding-left: 10px;
    outline: none;
    border-radius: 25px;
}

#login-page {
    text-align: center;


}

.login-page-container {
    background: #696969;
    box-shadow: 0 1px 11px rgba(15, 0, 0, 0.27);
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    display: inline-block;
    margin-top: 42px;
    vertical-align: middle;
    position: relative;
    padding: 35px 55px 35px;
    min-height: 250px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -160px;
        color: #404040;
}


.login-page-container .login-submit {
    margin-top: 10px;
}

#username-page {
    text-align: center;
    border-radius: 25px;

}
.username-page-container {
    background: #696969;
    box-shadow: 0 1px 11px rgba(15, 0, 0, 0.27);
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    display: inline-block;
    margin-top: 42px;
    vertical-align: middle;
    position: relative;
    padding: 35px 55px 35px;
    min-height: 250px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -160px;
}

.password-page-container {
    background: #008040;
    box-shadow: 0 1px 11px rgba(15, 0, 0, 0.27);
    border-radius: 25px;
    width: 100%;
    max-width: 500px;
    display: inline-block;
    margin-top: 42px;
    vertical-align: middle;
    position: relative;
    padding: 35px 55px 35px;
    min-height: 250px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -160px;
}

.registration-page-container .registration-submit {
    margin-top: 10px;

}
h2:before {
    position: absolute;
    text-align: center;
    font-size: 100px;

}